name: CI

on:
  pull_request:
    branches: [main, production]
  push:
    branches: [main, production, 'codegen-bot/**']
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  merge_group:
    branches: [main, production]
  workflow_dispatch:

permissions: read-all

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  ci-fast:
    uses: ./.github/workflows/ci-fast.yml
    secrets: inherit

  ci-full:
    needs: [ci-fast]
    uses: ./.github/workflows/ci-full.yml
    secrets: inherit
